h1{
    text-align: right;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h3{
    text-align: center;
    text-decoration: underline;
    font-family: 'Times New Roman', Times, serif;
}

h5{
    text-align: right;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}